.header {
	position: relative;
}

.header__background {
	z-index: -5;
	position: absolute;
	width: 100%;
	height: 700px;
	background-image: url("../img/header.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__wrap {
	padding-top: 20px;
	width: 100%;
	height: 50px;
	background-color: #f6ea8cb9;
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.lang-link {
	margin-left: 10px;
}
