.nav {
	z-index: 1;
  position: absolute;
  top: 0;
	height: 700px;
	width: 100%;
  display: flex;
	align-items: center;
	text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: ease 1.5s;
  transform: translateX(-100%);

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
    justify-content: flex-start;
  }

  @include mq($from: tablet-wide) {
		height: 50px;
    width: 100%;
    padding-top: 0;
    transition: 0s;
		align-items: start;
		opacity: 1;
		top: auto;
		bottom: 0;
		transform: translateX(0px);
		background-color: #f6ea8cb9;
  }
}

.nav--change {
  top: 0;
  background-color: #f6ea8cb9;
	height: 700px;
	width: 100%;
	transform: translateX(0px);

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
  }

  @include mq($from: tablet-wide) {
		
  }
}

.nav__close {
  transition: ease 3.2s;
}

.nav__inner {
  margin-top: 70px;

  @include mq($from: phablet) {
    margin-top: 100px;
  }

  @include mq($from: tablet-wide) {
    margin-top: 0;
  }
}


.nav__item {
  animation-fill-mode: both;

  .nav__active & {
    animation: menu-on .3s linear both;

    &:nth-child(1) {
      animation-delay: .6s
    }

    &:nth-child(2) {
      animation-delay: .7s
    }

    &:nth-child(3) {
      animation-delay: .8s
    }

    &:nth-child(4) {
      animation-delay: .9s
    }

    @include mq($from: tablet-wide) {
      opacity: 1;
    }
  }

  .nav__close & {
    animation: menu-off .2s linear both;

    &:nth-child(1) {
      animation-delay: .4s
    }

    &:nth-child(2) {
      animation-delay: .35s
    }

    &:nth-child(3) {
      animation-delay: .3s
    }

    &:nth-child(4) {
      animation-delay: .25s
    }

    .nav__list-social {

      &:nth-child(1) {
        animation-delay: .2s
      }

      &:nth-child(2) {
        animation-delay: .15s
      }

      &:nth-child(3) {
        animation-delay: .1s
      }

      &:nth-child(4) {
        animation-delay: .05s
      }
    }

    @include mq($from: tablet-wide) {
      animation: menu-on 0s linear both;
    }
  }

  @include mq($from: tablet-wide) {
    position: relative;
    margin-left: 20px;
  }

  @include mq($from: desktop) {
    margin-left: 40px;
  }
}

.nav__item-social {
  animation-fill-mode: both;

  .nav__active & {
    animation: menu-on .3s linear both;

    &:nth-child(1) {
      animation-delay: 1s
    }

    &:nth-child(2) {
      animation-delay: 1.1s
    }

    &:nth-child(3) {
      animation-delay: 1.2s
    }

    &:nth-child(4) {
      animation-delay: 1.3s
    }
  }

  .nav__close & {
    animation: menu-off .2s linear both;

    &:nth-child(1) {
      animation-delay: .2s
    }

    &:nth-child(2) {
      animation-delay: .15s
    }

    &:nth-child(3) {
      animation-delay: .1s
    }

    &:nth-child(4) {
      animation-delay: .05s
    }
  }
}


.nav__list {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  list-style: none;
	padding: 0;
	margin-top: 70px;
  transition: .3 ease;
  text-transform: uppercase;

  @include mq($from: phablet) {
    width: 250px;
  }

  @include mq($from: tablet) {
    justify-content: end;
    width: 250px;
    padding-left: 0;
  }

  @include mq($from: tablet-wide) {
    flex-direction: row;
		justify-content: start;
    width: 100%;
    padding: 0;
		margin-top: 13px;
  }

	li {
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    line-height: 20px;

    @include mq($from: tablet) {
      margin-bottom: 25px;
    }

    @include mq($from: tablet-wide) {
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.nav__item--telegram {
  @include mq($from: tablet-wide) {}
}

.nav__list-social {
  flex-wrap: wrap;
  font-weight: 400;
  text-transform: none;

  li {
    @include mq($from: tablet) {
      font-size: 18px;
    }
  }

  img {
    height: 30px;

    @include mq($from: tablet-wide) {
      height: 30px;
    }
  }

  @include mq($from: tablet-wide) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    // height: 100%;
    padding: 0 40px 0 40px;
    margin: 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: end;
    background: rgba(51, 51, 51, 0.65);
    // writing-mode: vertical-lr;

    li {
      margin-bottom: 50px;

      // &:first-child,
      // &:nth-child(2) {
      //   display: none;
      // }

      // &:nth-child(5) {
      //   display: block;
      //   margin-bottom: 35px;
      // }

      // &:nth-child(6) {
      //   display: block;
      //   margin-bottom: 200px;
      // }

    }
  }

  @include mq($from: desktop) {
    height: 90 0px;
    justify-content: center;
  }
}

.link-social--svg {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__item---info {

  li {
    @include mq($from: tablet-wide) {
      margin-bottom: 150px;
    }
  }

  @include mq($from: tablet-wide) {
    position: relative;
    margin-bottom: 150px;
    font-size: 18px;
    color: #C4C4C4;

    &::after {
      content: "";
      position: absolute;
      bottom: -120px;
      left: 7px;
      width: 3px;
      height: 60px;
      border-radius: 50%;
      background-color: #C4C4C4;
    }
  }
}

.nav__list--desktop {
  display: none;

  @include mq($from: tablet-wide) {
    z-index: 1;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between; 
  }
}

.nav__list--mobile {
  @include mq($from: tablet-wide) {
    display: none;
  }
}